<% if Current.user.present? %>
  <div class="navbar max-sm:max-h-14 max-sm:min-h-14">
    <div class="navbar-start"></div>
    <div class="navbar-center">
      <%= render "shared/menu/menu" %>
    </div>
    <div class="navbar-end">
      <%= link_to(settings_path) do %>
        <%= render "users/avatar", user: Current.user, size: "sm" %>
      <% end %>
    </div>
  </div>
<% end %>
