<ul class="menu menu-horizontal px-1">
  <li>
    <details>
      <summary class="flex items-center p-0 w-28 h-10" style="background: url(<%= image_path("logo.png")%>) no-repeat 0.5rem center/7rem">
      </summary>
      <div
        tabindex="0"
        class="fixed max-sm:top-0 max-sm:bottom-0 max-sm:right-0 max-sm:rounded-none max-sm:h-[100vh] max-sm:w-[100vw] p-5 my-0 md:left-1/2 md:transform md:-translate-x-1/2 md:absolute md:w-[25rem] md:my-3 md:p-1 overflow-y-auto dropdown-content card bg-panel-gradient text-primary-content z-[1] shadow-2xl">
        <div class="card-body px-5 py-2">
          <div class="flex flex-row flex-wrap justify-between gap-2 w-full">
            <%= render "shared/menu/option", href: transactions_path, title: "Transactions", icon: "inbox-stack" %>

            <%= render "shared/menu/option", href: "#", title: "Accounts", icon: "building-library" %>

            <%= render "shared/menu/option", href: categories_path, title: "Categories", icon: "chart-pie" %>
          </div>
        </div>
      </div>
    </details>
  </li>
</ul>
