<div
  data-controller="autocomplete"
  class="relative"
  data-action="autocomplete:choose@window->transactions--dialog#suggestionSelected"
  data-autocomplete-url-value="/search/transactions/suggestions">
  <%= form.label :title, class: "input input-bordered flex items-center gap-2" do %>
    <%= icon "pencil", class: "w-9" %>

    <%= form.text_field(
      field,
      placeholder: _("Description"),
      required: true,
      class: "grow",
      data: {
        autocomplete_target: "input",
        action: "input->autocomplete#search"
      }
    ) %>
  <% end %>

  <ul
    data-autocomplete-target="results"
    style="z-index: 1000"
    class="hidden absolute top-0 left-0 w-full max-h-48 overflow-auto rounded-md bg-white text-base ring-1 shadow-lg focus:outline-hidden sm:text-sm"
    tabindex="-1"
    role="listbox">

    <div id="<%= dom_id(Transaction, :autocomplete_results) %>">
    </div>
  </ul>
</div>

