<% content_for :title, "Editing #{@transaction.model_name.human}" %>

<%= turbo_frame_tag dom_id(Transaction, :form) do %>
  <div data-action="turbo:submit-end->transactions-dialog#submitEnd">
    <%= render "transactions/form", transaction: @transaction %>
  </div>
<% end %>
