<% content_for :title, "Transactions" %>

<div class="index-card">
  <div class="index-card-body">
    <div class="index-card-actions">
      <%= link_to new_expense_path, role: "button", class: "btn font-medium btn-sm h-[2.3rem] rounded-[3rem] btn-outline btn-accent" do %>
        <%= icon "plus" %>
        New
      <% end %>
    </div>
    <div class="index-card-title">Transactions</div>
    <div class="flex flex-col w-full pt-0 px-1 md:px-3">
      <% @transactions.group_by(&:due_on).each do |date, transactions| %>
        <div class="mx-1 py-2 flex items-center text-sm font-semibold text-gray-500"><%= I18n.l date, format: :long %></div>
        <% transactions.each do |transaction| %>
          <%= render "transactions/transaction", transaction: transaction %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
