<% content_for :title, "New #{@transaction.model_name.human}" %>

<%= render "transactions/form", transaction: @transaction %>

<div>
  <%= link_to "Back to transactions", transactions_path %>
</div>
