<%= turbo_stream.append_all "body" do %>
  <dialog
    class="group modal modal-bottom sm:modal-middle max-sm:w-full"
    data-controller="transactions--dialog"
    data-transactions--dialog-transaction-id-value="<%= @transaction.id %>"
    data-transactions--dialog-combobox-outlet=".form-combobox">
    <div class="modal-box shadow-2xl category-gradient--expense">
      <%= turbo_frame_tag(:new_transaction) do %>
        <%= render "transactions/form", transaction: @transaction %>
      <% end %>
    </div>
  </dialog>
<% end %>
