<%= turbo_stream.append_all "body" do %>
  <dialog
    class="modal modal-bottom sm:modal-middle max-sm:w-full"
    data-controller="transactions--dialog"
    data-transactions--dialog-combobox-outlet=".form-combobox">
    <div class="modal-box shadow-2xl category-gradient--expense">
      <%= turbo_frame_tag :new_transaction, src: new_expense_path %>
    </div>
  </dialog>
<% end %>
