<%= turbo_stream.replace dom_id(Transaction, :autocomplete_results) do %>
  <div id="<%= dom_id(Transaction, :autocomplete_results) %>">
    <%= render partial: "transaction", cache: true, collection: @transactions, as: :transaction %>
  </div>
<% end %>
